@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  font-family: lato;
  /* background-image: url("css/carti.jpg"); */
  background-color: rgb(209, 214, 216);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

#top {
  color: teal;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#head {
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

#or {
  margin: 0px 0px 0px;
}

#buttons {
  display: flex;
  justify-content: center;
}

#findOutArtist {
  color: goldenrod;
  background-color: transparent;
  text-align: center;
  border: 1px solid teal;
  border-radius: 50px;
  font-size: 15px;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

#findOutArtist:hover {
  border: 1px solid goldenrod;
}

#findOutArtist:active {
  color: teal;
}

#findOutGenre {
  color: goldenrod;
  background-color: transparent;
  text-align: center;
  border: 1px solid teal;
  border-radius: 50px;
  font-size: 15px;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

#findOutGenre:hover {
  border: 1px solid goldenrod;
}

#findOutGenre:active {
  color: teal;
}

#count {
    display: none;
    text-decoration: underline;
    text-decoration-color: goldenrod;
}

#startOver {
    color: white;
    background-color: transparent;
    text-align: center;
    border: 1px solid teal;
    border-radius: 50px;
    font-size: 15px;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
    display: none;
}

#startOver:hover {
  border: 1px solid goldenrod;
  color: goldenrod
}

#startOver:active {
  color: teal;
}

#disclaim {
  color: teal;
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 8px;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}
#score {
  color: teal;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 15px;
  display: none;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

#artist {
  color: teal;
  background-color: transparent;
  border: 0px;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-family: lato;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}


#artist:focus {
  outline: none;
}

#artist:focus::placeholder {
  color: transparent;
}

#artist::placeholder {
  color: teal;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

#genre {
  color: teal;
  background-color: transparent;
  border: 0px;
  text-align: center;
  width: 100%;
  font-size: 32px;
  font-family: lato;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

#genre:focus {
  outline: none;
}

#genre:focus::placeholder {
  color: transparent;
}

#genre::placeholder {
  color: teal;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

#question {
  text-decoration: underline;
  text-decoration-color: goldenrod;

}

#questionContainer {
  display: none;
  justify-content: space-around;
  margin-top: 50px;
}

.boxes {
  display: flex;
  flex-direction: column;
}

.boxImg {
  height: 100px;
  width: 100px;
  display: flex;
}
.boxBut {
  color: white;
  background-color: transparent;
  text-align: center;
  border: 1px solid teal;
  border-radius: 50px;
  font-size: 15px;
  padding: 20px 20px 20px 20px;
  margin-top: 50px;
}

.boxBut:hover {
    border: 1px solid goldenrod;
    color: goldenrod;
}

.boxBut:active {
    color: teal;
}

#prompt {
  margin: 0px 0px 0px 0px;
  margin-top: 20px;
}

#prompt2 {
  margin: 0px 0px 0px 0px;
}

#q {
  display: flex;
  justify-content: center;
}

#question {
  display: none;
  text-align: center;
  color: teal;
  margin-left: auto;
  margin-right: auto;
}